.clients-section {
  text-align: center;
}

.clients {
  text-align: center;
}

.client-set {
  margin-bottom: 20px;
}

.clients img {
  display: inline-block; /* Display logos side by side */
  width: auto; /* Adjust width as needed */
  height: 100px; /* Adjust height as needed */
  margin: 0 10px; /* Adjust margin as needed */
  background-color: transparent; /* Remove background color */
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .clients {
    overflow: hidden; /* Hide overflowing logos on mobile */
  }
}
