/* .clients_container {
  display: flex;
  gap: 1rem;
}
.client-logo {
  width: 20%;
  height: 50%;
  aspect-ratio: 6/4;
  object-fit: cover; 
} */

/* .clients {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  overflow: hidden;
}

.clients img {
  width: auto; 
  height: 100px; 
  margin: 0 10px; 
  transition: transform 0.5s ease; 
}

.clients {
  text-align: center;
} */

.clients-section {
  text-align: center;
}

.clients {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.client-set {
  margin-bottom: 20px;
}

.clients img {
  width: auto; /* Adjust width as needed */
  height: 100px; /* Adjust height as needed */
  margin: 0 10px; /* Adjust margin as needed */
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .clients {
    overflow: hidden; /* Hide overflowing logos on mobile */
  }
}
